.find-country {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  &__search {
    display: block;
    margin: 0 auto;

    width: 260px;
    height: 50px;
    box-sizing: border-box;

    border-width: 1px;
    border-color: #bac8ae;
    border-style: solid;
    border-radius: 8px;

    background-color: #c6a973c2;
    text-transform: uppercase;
    text-align: center;

    &:focus {
      outline: none;
      border-width: 4px;
      border-style: double;
    }
  }

  &__result {
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__ul {
    display: block;
    padding: 8px;
    margin: 0;
    background-color: #c6a973c2;

    // border-width: 1px;
    // border-color: #bac8ae;
    // border-style: solid;
    // border-radius: 8px;
  }

  &__list-item {
    // text-transform: uppercase;
    cursor: pointer;
    margin: 5px 0;
    text-decoration: underline;
  }

  // &__single {
  //   // text-transform: uppercase;
  // }

  // &__alert {
  //   text-transform: uppercase;
  // }
}
