@import './css/common';

$color-background: #c6deb3;
$color-accent-primary: #f0f8ff;
$color-accent-secondary: #a2b694;

// crimson
// darkslategrey
// gray
//

@import './css/find-countries';
@import './css/single-country';
